*{
  font-family: Helvetica, sans-serif;
}

body {
  text-align: center;
  color: #544258;
  background-color: #E3E3E3;
}

img{
  margin-top: 20px;
  height: auto;
  width: 100px;
}

h1{
  color: #3EAB6B;
}

h2{
  color: #F5832B;
}


.instruction {
  float: left;
  width: 33%;
}

.instruction h2, h3{
  margin: 10px;
  text-align: center;
  margin-top: 40px;
}

.playButton {
  font-size: 15px;
  background-color: #FFB141;
  color: black;
  border:#F5832B;
  border-radius: 15px;
  height: 50px;
  width: 200px;
  margin-top: 40px;
}
